[Unit]
Description=icingaWeb Service  
After=docker.service  
Requires=docker.service

[Service]
ExecStartPre=-/usr/local/bin/docker-compose -f {{ docker_folder }}/web/docker-compose.yml down
ExecStart=/usr/local/bin/docker-compose -f {{ docker_folder }}/web/docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose -f {{ docker_folder }}/web/docker-compose.yml stop  